body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #0d0d0d;
    color: white;
}

header {
    padding: 20px 40px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.help-hero {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.help-hero h2 {
    font-size: 36px;
    font-weight: bold;
}

.help-hero p {
    margin-top: 8px;
    color: #cccccc;
    font-size: 16px;
}

.help-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px auto;
    flex-wrap: wrap;
    max-width: 1000px;
}

.help-box {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    width: 420px;
    border: 1px solid #333;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

.help-box h3 {
    margin-bottom: 20px;
    color: #00eaff;
}

.faq {
    margin-bottom: 20px;
}

.faq h4 {
    margin-bottom: 5px;
}

.faq p {
    color: #bbbbbb;
    font-size: 14px;
}

.support-form label {
    display: block;
    margin-top: 15px;
}

.support-form input,
.support-form textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #0a0a0a;
    color: white;
}

.support-form textarea {
    height: 100px;
}

.send-btn {
    margin-top: 15px;
    padding: 10px 15px;
    width: 100%;
    border-radius: 8px;
    background: #00eaff;
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background: #00c2d6;
}

.quick-actions {
    margin: 40px auto;
    text-align: center;
}

.action-btn {
    display: block;
    width: 250px;
    padding: 15px;
    margin: 10px auto;
    background: white;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: 0.3s ease;
}

.action-btn:hover {
    background: #dddddd;
}
