body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0d0d0d;
    color: white;
}

header {
    padding: 20px 40px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.login-container {
    width: 380px;
    margin: 60px auto;
    background: #111;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
    text-shadow: 0 0 10px #a3ccd0;
}

label {
    font-size: 14px;
    color: #cccccc;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border-radius: 8px;
    border: 1px solid #333;
    background: #0a0a0a;
    color: white;
    font-size: 15px;
}

input:focus, select:focus {
    outline: none;
    border: 1px solid #00eaff;
    box-shadow: 0 0 10px #00eaff;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #00eaff;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #00c2d6;
    box-shadow: 0 0 12px #00eaff;
}

.signup-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #ddd;
}

.signup-text a {
    color: #00eaff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
/* Divider */
.divider {
    text-align: center;
    margin: 15px 0;
    color: #777;
    font-size: 14px;
}

/* Google Login Button */
.google-btn {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.google-btn:hover {
    background: #e8e8e8;
}

.g-logo {
    width: 20px;
}
